In [1]:
import pandas as pd
import numpy as np
from pathlib import Path
%matplotlib inline

In [6]:
# Convert files into DataFrames

Path.cwd()

file_path_hitters = Path('./resources/2021_fantasy_baseball_research_hitters.xlsx')
file_path_pitchers = Path('./resources/2021_fantasy_baseball_research_starting_pitching.xlsx')

df_hitters = pd.read_excel(file_path_hitters)
df_pitchers = pd.read_excel(file_path_pitchers)

In [7]:
df_hitters.shape

(1013, 33)

In [4]:
# Clean data

# Set index column
# Check for nulls
df_hitters.isnull().sum()

My Rank                916
Rk                       0
Name                     0
Age                      0
Tm                       0
Lg                       0
G                        0
PA                       0
AB                       0
R                        0
H                        0
2B                       0
3B                       0
HR                       0
RBI                      0
SB                       0
CS                       0
BB                       0
SO                       0
BA                       0
OBP                      0
SLG                      0
OPS                      0
OPS+                     0
TB                       0
GDP                      0
HBP                      0
SH                       0
SF                       0
IBB                      0
Pos Summary              0
CBS Fantasy Points       0
Comments              1002
dtype: int64

In [8]:
df_hitters.head()

,My Rank,Position,Name,Age,Tm,Lg,G,PA,AB,R,...,OPS+,TB,GDP,HBP,SH,SF,IBB,Pos Summary,CBS Fantasy Points,Comments
0,1.0,C,Gary Sanchez\sanchga02,26,NYY,AL,106,446,396,62,...,119,208,3,9,0,1,3,2D,533,NaN
1,2.0,C,Will Smith\smithwi05,24,LAD,NL,54,196,170,30,...,134,97,3,5,0,3,1,2/D,256,NaN
2,3.0,C,Willson Contreras\contrwi01,27,CHC,NL,105,409,360,57,...,125,192,4,9,0,2,2,2/39D7,460,NaN
3,4.0,C,Mitch Garver\garvemi01,28,MIN,AL,93,359,311,70,...,156,196,5,5,0,2,0,2/D3,504,NaN
4,5.0,C,Tom Murphy\murphto04,28,SEA,AL,75,281,260,32,...,129,139,0,1,0,1,0,2/D17,308,NaN