In [1]:
import pandas as pd
import numpy as np
from pathlib import Path
%matplotlib inline

In [10]:
# Convert files into DataFrames

Path.cwd()

file_path_hitters = Path('./resources/2021_fantasy_baseball_research_hitters.xlsx')
file_path_pitchers = Path('./resources/2021_fantasy_baseball_research_starting_pitching.xlsx')

df_hitters = pd.read_excel(file_path_hitters)
df_pitchers = pd.read_excel(file_path_pitchers)

df_hitters.head()

,My Rank,Position,Name,Age,Tm,Lg,G,PA,AB,R,...,OPS+,TB,GDP,HBP,SH,SF,IBB,Pos Summary,CBS Fantasy Points,Comments
0,1.0,C,Gary Sanchez\sanchga02,26,NYY,AL,106,446,396,62,...,119,208,3,9,0,1,3,2D,533,NaN
1,2.0,C,Will Smith\smithwi05,24,LAD,NL,54,196,170,30,...,134,97,3,5,0,3,1,2/D,256,NaN
2,3.0,C,Willson Contreras\contrwi01,27,CHC,NL,105,409,360,57,...,125,192,4,9,0,2,2,2/39D7,460,NaN
3,4.0,C,Mitch Garver\garvemi01,28,MIN,AL,93,359,311,70,...,156,196,5,5,0,2,0,2/D3,504,NaN
4,5.0,C,Tom Murphy\murphto04,28,SEA,AL,75,281,260,32,...,129,139,0,1,0,1,0,2/D17,308,NaN

In [3]:
df_hitters.dtypes

My Rank               float64
Position               object
Name                   object
Age                     int64
Tm                     object
Lg                     object
G                       int64
PA                      int64
AB                      int64
R                       int64
H                       int64
2B                      int64
3B                      int64
HR                      int64
RBI                     int64
SB                      int64
CS                      int64
BB                      int64
SO                      int64
BA                    float64
OBP                   float64
SLG                   float64
OPS                   float64
OPS+                    int64
TB                      int64
GDP                     int64
HBP                     int64
SH                      int64
SF                      int64
IBB                     int64
Pos Summary            object
CBS Fantasy Points      int64
Comments               object
dtype: object

In [4]:
# Clean data

# Set index colum

# Check for nulls--confirm only nulls are in 'My rank' and 'Comments' columns 
df_hitters.isnull().sum()

My Rank                916
Position                 0
Name                     0
Age                      0
Tm                       0
Lg                       0
G                        0
PA                       0
AB                       0
R                        0
H                        0
2B                       0
3B                       0
HR                       0
RBI                      0
SB                       0
CS                       0
BB                       0
SO                       0
BA                       0
OBP                      0
SLG                      0
OPS                      0
OPS+                     0
TB                       0
GDP                      0
HBP                      0
SH                       0
SF                       0
IBB                      0
Pos Summary              0
CBS Fantasy Points       0
Comments              1002
dtype: int64

In [20]:
df_hitters.head()

,My Rank,Position,Name,Age,Tm,Lg,G,PA,AB,R,...,GDP,HBP,SH,SF,IBB,Pos Summary,CBS Fantasy Points,Comments,First_Name,Last_Name
0,1.0,C,Gary Sanchez\sanchga02,26,NYY,AL,106,446,396,62,...,3,9,0,1,3,2D,533,NaN,Gary,Sanchez
1,2.0,C,Will Smith\smithwi05,24,LAD,NL,54,196,170,30,...,3,5,0,3,1,2/D,256,NaN,Will,Smith
2,3.0,C,Willson Contreras\contrwi01,27,CHC,NL,105,409,360,57,...,4,9,0,2,2,2/39D7,460,NaN,Willson,Contreras
3,4.0,C,Mitch Garver\garvemi01,28,MIN,AL,93,359,311,70,...,5,5,0,2,0,2/D3,504,NaN,Mitch,Garver
4,5.0,C,Tom Murphy\murphto04,28,SEA,AL,75,281,260,32,...,0,1,0,1,0,2/D17,308,NaN,Tom,Murphy

In [12]:
# Format 'Name' column

hitter_names = df_hitters.Name
name_only = []
first_name =[]
last_name = []

# Remove code portion of 'Name' column
for name in hitter_names:
    first_last, code = name.split("\\")
    name_only.append(first_last)

# Separate first and last names
for player in name_only:
    x = player.split("\xa0")
    first_name.append(x[0])
    last_name.append(x[1])

# Convert 'first_name' and 'last_name' lists to pandas series
First_Name = pd.Series(first_name)
Last_Name = pd.Series(last_name)

# Add '..._Name' series to 'df_hitters' dataframe
df_hitters['First_Name'] = First_Name
df_hitters['Last_Name'] = Last_Name

# Remove original 'Name' column
df_hitters.drop(['Name'], axis=1)

# Reorder dataframe columns and removed 'Pos Summary' column
df_hitters = df_hitters[['My Rank', 
                         'Position',
                         'Last_Name',
                         'First_Name',
                         'Age',
                         'Tm',
                         'Lg',
                         'G',
                         'PA',
                         'AB',
                         'R',
                         'H',
                         '2B',
                         '3B',
                         'HR',
                         'RBI',
                         'SB',
                         'CS',
                         'BB',
                         'SO',
                         'BA',
                         'OBP',
                         'SLG',
                         'OPS',
                         'OPS+',
                         'TB',
                         'GDP',
                         'HBP',
                         'SH',
                         'SF',
                         'IBB',
                         'CBS Fantasy Points',
                         'Comments']]

KeyError: "['Pos Summary'] not in index"

In [9]:
df_hitters.head()

,My Rank,Position,Last_Name,First_Name,Age,Tm,Lg,G,PA,AB,...,OPS,OPS+,TB,GDP,HBP,SH,SF,IBB,CBS Fantasy Points,Comments
0,1.0,C,Sanchez,Gary,26,NYY,AL,106,446,396,...,0.841,119,208,3,9,0,1,3,533,NaN
1,2.0,C,Smith,Will,24,LAD,NL,54,196,170,...,0.907,134,97,3,5,0,3,1,256,NaN
2,3.0,C,Contreras,Willson,27,CHC,NL,105,409,360,...,0.888,125,192,4,9,0,2,2,460,NaN
3,4.0,C,Garver,Mitch,28,MIN,AL,93,359,311,...,0.995,156,196,5,5,0,2,0,504,NaN
4,5.0,C,Murphy,Tom,28,SEA,AL,75,281,260,...,0.858,129,139,0,1,0,1,0,308,NaN